<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shopper_authorizenet>
            <title>Authorize.NET Payment Integration</title>
        </shopper_authorizenet>
    </default>
</config>
